@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.login__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-in__link {
  color: $light-accent;
  margin-top: $spacing;
  @include link-without-padding($light-accent);
}
.sign-in__or {
  color: $light-accent;
  margin-bottom: 0;
}
