@import '../../styles/settings';
@import '../../styles/mixin';

.content {
  composes: content from '../../styles/common.scss';
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 20rem;
}
.link {
  color: $light-accent;
  margin-top: $spacing;
  @include link-without-padding($light-accent);
}
.or {
  color: $light-accent;
}
