@import '../../../styles/settings';

.wrapper {
  width: 20rem;
}

.facebook,
.instagram {
  transition: fill 0.2s ease-out;
}
.mail {
  * {
    transition: fill 0.2s ease-out;
  }
}
.icon {
  outline: none;
  &:hover,
  &:focus {
    .instagram {
      fill: #dd2a7b;
    }
    .facebook {
      fill: #2e77f2;
    }
    .mail {
      path {
        fill: #ffd77c;
      }
    }
  }
}

.circle {
  fill: hsl(202, 59%, 27%);
}
