@import '../../../styles/base/settings';

.landing-page__svg__contact {
  width: 20rem;
}

.landing-page__svg__contact__icon {
  #facebook,
  #instagram {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
  }
  #mail {
    * {
      -webkit-transition: fill 0.2s ease-out;
      transition: fill 0.2s ease-out;
    }
  }
  outline: none;
  &:hover,
  &:focus {
    #instagram {
      fill: #dd2a7b;
    }
    #facebook {
      fill: #2e77f2;
    }
    #mail {
      path {
        fill: #ffd77c;
      }
    }
  }
}
