.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 45px;
  color: $dark-bg;
  width: 67vw;
  height: calc(80vh - 72px);
  border-radius: $spacing;
  background: $light-bg;
  max-width: 250px;
  max-height: 460px;
}
.card__image {
  top: -15%;
  position: absolute;
  width: 80%;
  border-radius: $spacing;
  margin: 6%;
  // max-width: 200px;
}
.card__us {
  margin-top: 90% !important;
  h2 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
}

// // .slider-frame {
// // }

// .slider-slide {
//   width: 66px !important;
// }
// .slider-list {
//   left: 5vw !important;
// }
// @media screen and (min-width: );
