.wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 72px);
}
.slider-frame {
  display: flex !important;
  justify-content: center !important;
}
.slider-list {
  width: 80% !important;
}
