.article-container {
  margin: $spacing;
  background: $light-bg;
  border-radius: $spacing;
  color: $text;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 135px auto;
  grid-template-rows: 40px auto 30px;
  align-items: start;
  justify-items: start;
}

.article-container__thumbnail {
  border-radius: $spacing;
  padding: 3px;
  grid-row: 1 / span 3;
}

.article-container__description {
  font-size: $xs-size;
}

.article-container__link {
  justify-self: center;
  align-self: center;
  border: 1px solid $dark-accent;
  border-radius: 30px;
  padding: 3px;
  padding-left: $spacing;
  padding-right: $spacing;
  margin-bottom: 5px;
}
