.partners__card,
.sensors__card {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30% calc(70% - 5px);
  padding: $spacing;
}
.partners__header,
.sensors__header {
  margin-top: 0;
  padding-left: 5px;
}
.partners__thumbnail,
.sensors__thumbnail {
  height: 100%;
  width: 100%;
  max-width: 150px;
  align-self: center;
  border-radius: $spacing;
}
.partners__description,
.sensors__description {
  padding-left: 5px;
  margin-bottom: 0;
}
