.card__landing__header {
  text-transform: none;
  padding: 0;
  margin: 5px 0;
}
.card__landing {
  width: 100%;
  height: 100%;
  margin: $spacing $spacing;
  max-width: 425px;
}
.card__landing__description {
  margin: 0;
  padding: 20px 0;
  font-size: $s-size;
}
.card__landing__btn {
  padding: $spacing;
  border: 1px solid $light-bg;
  align-self: flex-end;
}
.card__landing {
  * {
    color: $light-bg;
  }
}
.card__newsletter {
  background: $text;
}
.card__sensors {
  background: $dark-accent;
}
.card__encyclopedia {
  background: $light-accent;
}
.card__map {
  background: url('../../img/map-thumbnail.jpeg');
}
.card__project {
  * {
    color: $text;
  }
  a {
    border: 1px solid $text;
  }
}
