.landing-page > * {
  font-weight: bold;
}
.project {
  background-color: $light-bg;
  color: black;
  width: 100%;
  padding: 25px;
  margin-top: $spacing;
  border-radius: $spacing;
}
.air {
  margin: $spacing;
}
.air__btn {
  margin-bottom: $spacing;
  font-weight: normal;
  background: none;
  color: $light-bg;
  border-radius: $spacing;
  padding: 10px;
  border: 1px solid $light-bg;
}
.air__motto {
  text-transform: none;
}
.map {
  height: 300px;
  position: relative;
}
.map__header {
  height: 100px;
  border-radius: $spacing $spacing 0 0;
  background: $dark-accent;
}
.map__h {
  padding: $spacing * 1.5;
  width: 250px;
}
.map__p {
  font-weight: bold;
  font-size: $s-size;
  padding: 70px $spacing;
  color: $text;
  margin: 0;
}
.map__content {
  height: 180px;
  border-radius: 0 0 $spacing $spacing;
  background: $light-bg;
}
.map__img {
  border-radius: $spacing;
  position: absolute;
  top: $spacing;
  right: $spacing;
  padding: $spacing;
}
