.ReactModal__Overlay {
  z-index: 2;
  background: $dark-bg;
  height: 100%;
  width: 100%;
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-button {
  background: $dark-bg;
  border: none;
  color: $light-accent;
  font-size: 20px;
  align-self: flex-end;
}

.modal__text {
  color: $light-accent;
  margin: 5px;
}

.ReactModal__Content h3 {
  font-size: $m-size;
}

.ReactModal__Content ul {
  font-size: $s-size;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

.ReactModal__Content ul li {
  margin-bottom: 5px;
}

.ReactModal__Content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ReactModal__Content form input {
  margin-bottom: $spacing;
  background: $dark-bg;
  padding: $spacing 15px;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
  font-size: $s-size;
}

.ReactModal__Content form button {
  background: white;
  border-radius: 12px;
  border: none;
  padding: 5px 15px;
  width: 75%;
  font-size: $s-size;
}
