@import '../../styles/base/settings';
.about-us__card__wrapper {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-auto-rows: 5% 55% 40%;
  width: 67vw;
  height: 74vh;
  padding: 0;
}
.about-us__card {
  grid-column: 1/4;
  grid-row: 2/4;
  margin: 0;
}
.about-us__card__image {
  justify-self: center;
  object-fit: cover;
  height: 100%;
  width: 100%;

  border-radius: $spacing;
  margin: 0;
  grid-column: 2;
  z-index: 1;
  grid-row: 1/3;
}
.about-us__card__description {
  color: $dark-bg;
  grid-column: 2;
  padding-bottom: $spacing;
  text-align: justify;
  grid-row: 3;
}
.about-us__card__description__description {
  margin-top: 0.5rem;
  font-size: $s-size;
}
.about-us__card__description__name {
  margin-bottom: 0;
}
.about-us__card__description__role {
  margin: 0;
}
@media screen and (max-height: 34.375rem) {
  .about-us__card__wrapper {
    grid-auto-rows: 2rem 45% min-content;
  }
  .about-us__card__image {
    height: 100%;
    width: 90%;
  }
  .about-us__card__description__name {
    margin-top: $spacing / 2;
  }
  .about-us__card__description__description {
    font-size: 0.8rem;
  }
}
