@import '../../styles/base/settings';
.about-us__card__wrapper {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 15% 45% 45%;
  width: 67vw;
  height: calc(74vh - 72px);
  max-width: 290px;
  padding: 0;
}
.about-us__card {
  grid-column: 1/4;
  grid-row: 2/4;
}
.about-us__card__image {
  justify-self: center;
  object-fit: cover;
  width: 100%;

  border-radius: $spacing;
  margin: 0;
  grid-column: 2;
  z-index: 1;
  grid-row: 1/3;
}
.about-us__card__description {
  color: $dark-bg;
  grid-column: 2;
  text-align: justify;
  p {
    font-size: $s-size;
  }
  grid-row: 3;
  h2 {
    margin-bottom: 0;
  }
  h3 {
    margin: 0;
    padding-left: $spacing;
  }
}
@media screen and (max-height: 550px) {
  .about-us__card__description {
    h2 {
      margin-top: 5px;
    }
  }
}
@media screen and (max-height: 650px) {
  .about-us__card__description {
    p {
      font-size: 1.2rem;
    }
  }
}
