@import '../../styles/settings';

.card {
  composes: card from '../../styles/common.scss';
  grid-column: 1/4;
  grid-row: 2/4;
  height: 100%;
  margin: 0;
}

.content {
  color: $dark-bg;
  grid-column: 2;
  grid-row: 3;
  text-align: justify;
}

.name {
  font-size: $base-font-size * 1.1;
  margin-bottom: 0;
}

.role {
  margin: 0;
}

.description {
  font-size: $s-size;
}

@media screen and (max-height: 44rem) {
  .content {
    align-self: center;
  }
  .name {
    margin-top: $spacing / 2;
  }
  .description {
    font-size: 0.8em;
  }
}
