@import '../../styles/base/settings';

.wrapper {
  grid-column: 2;
  grid-row: 1/3;
  margin: 0;
  z-index: 1;
}

.image {
  border-radius: $spacing;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.Michał {
  object-position: 50% 35%;
}

.Julia {
  object-position: 50% 100%;
}
