@import '../../styles/base/settings';
.article__header {
  background: url('https://picsum.photos/330/160') no-repeat;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  color: $light-bg;
  border-radius: $spacing;
  margin: 0;
  text-align: center;
}
.article__card {
  padding: $spacing;
  * {
    margin-bottom: 0;
  }
  p {
    margin-top: $spacing;
  }
}
