# .gitattributes snippet to force users to use same line endings for project.
        # 
        # Handle line endings automatically for files detected as text
        # and leave all files detected as binary untouched.

        
        #
        # The above will handle all files NOT found below
        # https://help.github.com/articles/dealing-with-line-endings/
        # https://github.com/Danimoth/gitattributes/blob/master/Web.gitattributes



        # These files are text and should be normalized (Convert crlf => lf)
        *.php eol=lf
        *.css eol=lf
        *.js eol=lf
        *.json eol=lf
        *.htm eol=lf
        *.html eol=lf
        *.xml eol=lf
        *.txt eol=lf
        *.ini eol=lf
        *.inc eol=lf
        *.pl eol=lf
        *.rb eol=lf
        *.py eol=lf
        *.scm eol=lf
        *.sql eol=lf
        .htaccess eol=lf
        *.sh eol=lf

        # These files are binary and should be left untouched
        # (binary is a macro for -text -diff)
        *.png binary
        *.jpg binary
        *.jpeg binary
        *.gif binary
        *.ico binary
        *.mov binary
        *.mp4 binary
        *.mp3 binary
        *.flv binary
        *.fla binary
        *.swf binary
        *.gz binary
        *.zip binary
        *.7z binary
        *.ttf binary
        *.pyc binary