@import '../../styles/base/settings';
.fil0 {
  fill: $light-bg;
}
.fil2 {
  fill: $light-bg;
  fill-rule: nonzero;
}
.fil1 {
  fill: $dark-bg;
  fill-rule: nonzero;
}
.svg__inline {
  margin-left: 10px;
  width: 10rem;
  height: 5rem;
}
