@import '../../styles/base/settings';
.fil0 {
  fill: $light-bg;
}
.fil2 {
  fill: $light-bg;
  fill-rule: nonzero;
}
.fil1 {
  fill: $dark-bg;
  fill-rule: nonzero;
}
.svg__block {
  width: 80%;
  height: 80%;
}
