@import '../../styles/base/settings';

.menu {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  align-items: center;
  background: $light-bg;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$header-height});
  justify-content: space-around;
  left: 100%;
  overflow: hidden;
  position: fixed;
  top: $header-height;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  width: 100%;
  z-index: 10;
  &isActive {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media #{$media-query-m} {
  .menu {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-transform: translateX(0);
    background: none;
    flex-direction: row;
    height: auto;
    position: static;
    transform: translateX(0);
  }
  .item {
    color: $light-bg;
    font-size: $m-size - 0.3;
    text-align: center;
  }
}
