@import '../../styles/base/settings';
.menu {
  background: $light-bg;
  position: absolute;
  left: 0;
  top: 5rem;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  height: calc(100vh - 5rem);
  transition: transform 0.4s ease-in;
  width: 100%;
}
.menu__item {
  color: $dark-bg;
  padding: $spacing;
  font-size: $m-size;
  font-weight: bold;
  text-transform: uppercase;
}
.menu__login {
  border: $border transparent;
  padding: $spacing;
  color: $light-bg;
  background: $dark-bg;
  border-radius: $spacing;
}
.menu__register {
  font-size: $m-size;
  background: none;
  border: $border transparent;
  padding: $spacing;
}
.menu--isActive {
  transform: translateX(0);
}

.log-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-height: 550px) {
  .menu__item {
    font-size: $m-size;
  }
}
@media #{$media-query-m} {
  .menu {
    background: none;
    flex-direction: row;
    height: auto;
    position: static;
    transform: translateX(0);
  }
  .menu__item {
    color: $light-bg;
    text-align: center;
    font-size: $m-size - 0.3;
  }
  .menu__item__about-us {
    white-space: nowrap;
  }
}
