@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.label {
  font-size: $s-size;
  align-self: flex-start;
  margin-top: $spacing;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.wrapper {
  position: relative;
  width: $m-size;
  height: $m-size;
  margin-right: $spacing;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: relative;

  &:focus ~ &--styled {
    transform: scale(1.03);
  }

  &:checked ~ &--styled {
    * {
      opacity: 1;
    }
  }

  &Styled {
    * {
      opacity: 0;
      transition: opacity 0.15s ease-in;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-bg;
    background: none;
    border: $border solid $light-bg;
    border-radius: $spacing;
    @include button($dark-bg);
  }
}
