@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: $m-size;
}

.form__btn {
  background-color: $light-bg;
  padding: $spacing;
  border: none;
  border-radius: $spacing;
  &:disabled {
    color: #000;
    cursor: default;
  }
  @include button($light-bg);
  &--success {
    padding: $spacing;
    border: none;
    border-radius: $spacing;
    background-color: $very-good;
    box-shadow: inset 0 -0.2rem 0.2rem darken($very-good, 20%);
    &:disabled {
      color: $light-bg;
      cursor: default;
    }
  }
}
