@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: $m-size;
}

.form__btn {
  background-color: $light-bg;
  padding: $spacing;
  border: none;
  border-radius: $spacing;
  &:disabled {
    color: #000;
  }
  @include button($dark-bg);
  &--success {
    padding: $spacing;
    border: none;
    border-radius: $spacing;
    background-color: $very-good;
    &:disabled {
      color: $light-bg;
    }
  }
}

.form__error {
  color: $bad;
  margin: $spacing;
}
