@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: $m-size;
}

.form__btn {
  background-color: $light-bg;
  padding: $spacing;
  border: none;
  border-radius: $spacing;
  @include button($dark-bg);
}

.form__text {
  font-size: $s-size;
}
