@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.button {
  padding: $spacing;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  border-radius: $spacing;
  width: 100%;
  max-width: 20rem;
  margin-top: $spacing;
  svg {
    width: $m-size;
    margin-right: $spacing;
    font-size: $m-size;
  }
}
.facebook {
  background-color: #1877f2;
  color: $light-bg;
  @include button(#1877f2);
}
.google {
  background-color: $light-bg;
  @include button($light-bg);
}
