@import '../../styles/base/settings';

.wrapper {
  position: relative;
  margin-top: $spacing * 2;
  width: 100%;
  &:first-child {
    margin: 0;
  }
}

.input {
  &:focus ~ .label,
  &:valid ~ .label {
    transform: translateY(-150%) scale(0.8);
    transform-origin: left;
    z-index: 0;
  }
}
.textArea {
  &:focus ~ .label,
  &:valid ~ .label {
    transform-origin: left;
    z-index: 0;
    transform: translateY(-50%) scale(0.8);
  }
}

.label {
  background-color: $dark-bg;
  position: absolute;
  cursor: text;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: $spacing;
  font-size: $s-size;
  margin-bottom: $spacing;
  transition: transform 0.2s;
  &TextArea {
    top: 0;
    transform: translateY(50%);
  }
}
.error {
  color: $bad;
  margin: 0;
  align-self: flex-start;
}
