@import '../../styles/base/settings';
.slider-slide {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-pack: center;
  justify-content: center;
  height: calc(100% - #{$header-height}) !important;
}
.about-us__wrapper {
  height: 100vh;
  max-width: 100%;
  width: 100%;
}
.slider-list {
  display: -webkit-box;
  display: flex;
  height: calc(100% - #{$header-height}) !important;
}
.slider {
  * {
    font-size: $base-font-size * 0.9;
    user-select: none;
  }
}
@media #{$media-query-m} {
  .about-us__wrapper {
    height: calc(100vh - #{$header-height});
  }
  .slider-list {
    height: 100% !important;
  }
  .slider {
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .slider-frame {
    width: 90%;
  }
  .slider-slide {
    height: calc(100% - 1rem) !important;
  }
}
@media screen and (max-width: 93,75rem) and (min-aspect-ratio: 16/10),
  (max-width: 100rem) and (min-aspect-ratio: 16/9),
  (max-width: 250rem) and (min-aspect-ratio: 21 / 9) {
  .slider {
    * {
      font-size: $base-font-size * 0.7;
    }
  }
}
@media #{$media-query-m} and (min-aspect-ratio: 4/3) {
  slider {
    * {
      font-size: $base-font-size * 0.9;
    }
  }
}
@media screen and (max-height: 34rem) {
  .slider {
    * {
      font-size: $base-font-size * 0.75;
    }
  }
}
