@import '../../styles/settings';

.wrapper {
  composes: content from '../../styles/common.scss';
  height: 100vh;
  max-width: 100%;
  width: 100%;
}

.slider {
  * {
    font-size: $base-font-size * 0.9;
    user-select: none;
  }
  :global(.slider-list) {
    display: flex;
    height: calc(100% - #{$header-height}) !important;
  }
  :global(.slider-slide) {
    display: flex !important;
    justify-content: center;
    height: calc(100% - #{$header-height}) !important;
  }
}
@media #{$media-query-m} {
  .wrapper {
    height: calc(100vh - #{$header-height});
  }
  .slider {
    display: flex !important;
    justify-content: center;
    :global(.slider-list) {
      height: 100% !important;
    }
    :global(.slider-slide) {
      height: calc(100% - 1rem) !important;
    }
    :global(.slider-frame) {
      width: 90%;
    }
  }
}
@media screen and (max-width: 1500px) and (min-aspect-ratio: 16/10),
  (max-width: 1600px) and (min-aspect-ratio: 16/9),
  (max-width: 4000px) and (min-aspect-ratio: 21 / 9) {
  .slider {
    * {
      font-size: $base-font-size * 0.7;
    }
  }
}

@media screen and (max-height: 544px) {
  .slider {
    * {
      font-size: $base-font-size * 0.75;
    }
  }
}
