@import '../../styles/base/settings';

.card {
  composes: card from '../../styles/base/common.scss';
  background: $dark-accent;
  color: $light-bg;
}

.link {
  color: $light-bg;
  text-decoration: underline;
}
