@import '../../styles/settings';

.card {
  composes: card from '../../styles/common.scss';
  color: $light-bg;
}

.lightAccent {
  background-color: $light-accent;
}

.darkAccent {
  background-color: $dark-accent;
}

.header {
  margin: 0;
}

.text {
  margin-bottom: 0;
}
