@import '../../styles/settings';

.card {
  composes: card from '../../styles/common.scss';
  background: rgb(255, 255, 255);
  background: linear-gradient(170deg, rgb(197, 197, 197) 0%, $light-bg 60%);
  justify-content: center;
  align-items: center;
  position: relative;
  &::before,
  &::after {
    opacity: 0;
    content: '';
    background-color: $dark-bg;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5%;
    transition: all 0.4s ease-out;
  }
  &::before {
    bottom: 0;
    transform-origin: bottom;
  }
  &::after {
    top: 0;
    transform-origin: top;
  }
  &:hover {
    .text {
      transition: opacity 0.2s 0.4s ease-out;
      opacity: 1;
      user-select: none;
    }
    &::before,
    &::after {
      transform: scaleY(16);
      opacity: 0.5;
    }
  }
}

.image {
  width: 100%;
  user-select: none;
  max-width: 20rem;
}

.text {
  opacity: 0;
  z-index: 1;
  padding-right: $spacing;
  text-align: center;
  transition: opacity 0.2s 0s ease-out;
  position: absolute;
  top: 50%;
  color: $light-bg;
  font-size: $s-size;
  transform: translateY(-50%);
}
.link {
  color: hsl(211, 38%, 80%);
}
