@import '../../../styles/base/settings';

.wrapper {
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  max-width: calc(54rem - 10%);
  z-index: 21;
  background-color: $primary-accent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $spacing;
  padding: $spacing;
  box-shadow: 0.2rem 0.4rem 0.3rem #000;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba($dark-bg, 0.7);
  z-index: 9;
}

.text {
  text-align: center;
}

.mail {
  text-decoration: underline;
  color: $light-bg;
  font-size: $xs-size;
  display: block;
}
