@import '../../styles/settings';

.header {
  margin: 0;
  padding: $spacing * 5 $spacing;
  position: relative;
  z-index: 1;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &::after {
    content: '';
    background: rgba(28, 35, 60, 0.5);
    border-radius: $spacing;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.text {
  color: $light-bg;
  font-size: $l-size;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.subheader{
  font-size: $m-size;
  margin: $spacing 0 0 0;
  z-index: 1;
  color: $light-bg;
}

.image {
  border-radius: $spacing;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
