@import '../../styles/settings';

.content {
  composes: content from '../../styles/common.scss';
}

.article {
  composes: card from '../../styles/common.scss';
  padding: $spacing;
  position: relative;
  text-align: justify;
  p {
    margin: $spacing * 2 0 0 0;
    text-indent: $spacing * 2;
    line-height: $m-size;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: $spacing;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '- ';
        text-indent: -$spacing;
      }
    }
  }

  a {
    text-decoration: underline;
  }
  q {
    font-weight: bold;
    font-style: italic;
  }
  abbr {
    display: block;
    font-size: $xs-size;
    line-height: $s-size;
    text-align: right;
  }
}

.author {
  align-self: flex-end;
  color: #999;
  padding: $spacing $spacing 0 0;
}
