@import '../../styles/base/settings';

.content {
  composes: content from '../../styles/base/common.scss';
}

.card {
  composes: card from '../../styles/base/common.scss';
  padding: $spacing;
  position: relative;
}

.author {
  align-self: flex-end;
  color: #999;
  padding: $spacing $spacing 0 0;
}
