@import '../../styles/settings';

.list {
  list-style: none;
  li {
    margin-bottom: $spacing;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '- ';
      text-indent: -$spacing;
    }
  }
}

.link {
  text-decoration: underline;
}
