@import '../../styles/settings';

.paragraph {
  margin: $spacing / 2 0 0 0;
  text-indent: $spacing;
}
.list {
  list-style: none;
  li {
    margin-bottom: $spacing;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '- ';
      text-indent: -$spacing;
    }
  }
}
.link {
  text-decoration: underline;
}
