@import '../../styles/base/settings';

.error__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error__text {
  font-size: $l-size;
  font-weight: bold;
  text-align: center;
}
.error__btn {
  background-color: $light-bg;
  color: $dark-bg;
  border-radius: $spacing;
  padding: $spacing;
  font-size: $m-size;
  border: none;
}
