@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.error__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
.error__text {
  font-size: $l-size;
  font-weight: bold;
  text-align: center;
}
.error__btn {
  background-color: $light-bg;
  color: $dark-bg;
  border-radius: $spacing;
  padding: $spacing;
  font-size: $m-size;
  border: none;
  @include button($dark-bg);
}
