@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.content {
  composes: content from '../../styles/base/common.scss';
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  font-size: $l-size;
  font-weight: bold;
  text-align: center;
}
.button {
  background-color: $light-bg;
  color: $dark-bg;
  text-align: center;
  align-self: center;
  width: fit-content;
  border-radius: $spacing;
  padding: $spacing;
  font-size: $m-size;
  border: none;
  @include button($dark-bg);
}
