@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.button {
  background: none;
  border-radius: $spacing;
  border: $border * 2 solid $light-bg;
  color: $light-bg;
  height: 3em;
  width: 3em;
  @include button($dark-bg);
}
