@import '../../styles/base/settings';

.card-with-thumbnail__content {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-self: center;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
}

.card-with-thumbnail__header {
  margin: 0;
}

.card-with-thumbnail__description {
  margin-bottom: 0;
}
