@import '../../styles/base/settings';

.sensors__thumbnail {
  align-self: center;
  border-radius: $spacing;
  -o-object-fit: cover;
  min-height: 10rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
