@import '../../styles/base/settings';

.sensors__card {
  -webkit-box-pack: start;
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: 1fr 1.5fr;
  justify-content: start;
  padding: $spacing;
}

@media #{$media-query-s} {
  .sensors__card {
    grid-template-columns: 1fr 4fr;
  }
}
