@import '../../../styles/settings';

.button {
  margin-left: $spacing;
  border-radius: $spacing;
  padding: $spacing / 2;
  width: 100%;
  border: $border * 2 solid $dark-accent;
  background: none;
  font-size: $xs-size;
  color: $dark-accent;
  transition: background-color 0.25s ease-in-out;
  &:first-child {
    margin-left: 0;
  }
  &Active {
    background-color: $dark-accent;
    color: $light-bg;
  }
  &:hover {
    background-color: lighten($dark-accent, 10%);
    color: $light-bg;
  }
}
