@import '../../../styles/base/settings';

.chart__card {
  width: calc(100vw - #{$spacing} * 2);
  max-width: 100%;
  height: 16rem;
  padding: $spacing;
}

.chart__buttons {
  margin-bottom: $spacing;
  display: flex;
  justify-content: space-around;
}
