@import '../../../styles/settings';

.card {
  composes: card from '../../../styles/common.scss';
  width: calc(100vw - #{$spacing} * 2);
  max-width: 100%;
  height: 16rem;
  padding: $spacing;
}

.buttons {
  margin-bottom: $spacing;
  display: flex;
  justify-content: space-around;
}
