@import '../../styles/base/settings';
.hamburger {
  background-color: transparent;
  border: 0;
  display: inline-block;
  margin: 0;
  padding: $spacing;
  box-shadow: none;
}
.hamburger__box {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 32px;
}
@mixin single-line {
  background-color: $light-bg;
  height: 5px;
  position: absolute;
  width: 100%;
}
.hamburger__line {
  @include single-line;

  -webkit-transform: translateY(-50%);
  -webkit-transition: background-color 0.2s 0.2s ease-in-out;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s 0.2s ease-in-out;
  &::before,
  &::after {
    @include single-line;

    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    content: '';
    left: 0;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out,
      -webkit-transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
  }
  &::before {
    top: -11px;
  }

  &::after {
    top: 11px;
  }
}
.hamburger--isActive .hamburger__line {
  background: transparent;
}
.hamburger--isActive .hamburger__line::before {
  -webkit-transform: translateY(11px) rotate(45deg);
  transform: translateY(11px) rotate(45deg);
}
.hamburger--isActive .hamburger__line::after {
  -webkit-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
}
