@import '../../styles/base/settings';
.hamburger {
  background-color: transparent;
  border: 0;
  display: inline-block;
  margin: 0;
  padding: $spacing;
}

.box {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 32px;
}

@mixin single-line {
  background-color: $light-bg;
  height: 5px;
  position: absolute;
  width: 100%;
}

.line {
  @include single-line;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s 0.2s ease-in-out;
  &::before,
  &::after {
    @include single-line;
    content: '';
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
  }
  &::before {
    top: -11px;
  }

  &::after {
    top: 11px;
  }
}
.hamburgerIsActive .line {
  background: transparent;
}
.hamburgerIsActive .line::before {
  transform: translateY(11px) rotate(45deg);
}
.hamburgerIsActive .line::after {
  transform: translateY(-11px) rotate(-45deg);
}
