.campaign__h2 {
  padding-left: $spacing;
  color: $light-accent;
}
.campaign__search {
  background: transparent;
  border: 1px solid $light-bg;
  border-radius: $spacing;
  font-size: $s-size;
  padding: $spacing;
  margin: $spacing;
  color: $light-bg;
}
.campaign__search:focus {
  outline: 1px solid $light-bg;
  -moz-outline-radius: $spacing;
}
