@import '../../styles/base/settings';

.card {
  composes: card from '../../styles/base/common.scss';
  background-color: $primary-accent;
  color: $light-bg;
  outline: none;
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  max-width: 20rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #000;
  transition: opacity 0.2s ease-in-out;
  &Visible {
    visibility: visible;

    animation: fadeIn 0.2s both;
  }
  &Invisible {
    animation: fadeOut 0.2s both;
  }
}

.close {
  background: none;
  color: $light-bg;
  border: none;
  align-self: flex-end;
  font-size: $m-size;
}

.header {
  margin: 0;
  font-weight: bolder;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  70% {
    opacity: 1;
    transform: scale(1.1) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1) translateX(-50%);
  }
  30% {
    opacity: 1;
    transform: scale(1.1) translateX(-50%);
  }
  to {
    opacity: 0;
  }
}

@media #{$media-query-m} {
  .card {
    left: 20%;
  }
}
