@mixin button($color) {
  box-shadow: inset 0 -0.2rem 0.2rem darken($color, 20%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  outline: none;
  &:hover,
  &:focus {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  &:active {
    box-shadow: inset 0 -0.1rem 0.1rem darken($color, 20%);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

@mixin link($color) {
  position: relative;
  outline: none !important;
  &::before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 10%;
    height: $spacing / 4;
    position: absolute;
    left: 50%;
    bottom: $spacing;
    opacity: 0;
    background: $color;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  &:hover,
  &:focus {
    &::before {
      opacity: 1;
      -webkit-transform: scaleX(6) translateX(-7%) translateY(100%);
      transform: scaleX(6) translateX(-7%) translateY(100%);
    }
  }
}
@mixin link-without-padding($color) {
  position: relative;
  outline: none !important;
  &::before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 10%;
    height: $spacing / 4;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    background: $color;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  &:hover,
  &:focus {
    &::before {
      opacity: 1;
      -webkit-transform: scaleX(6) translateX(-7%) translateY(100%);
      transform: scaleX(6) translateX(-7%) translateY(100%);
    }
  }
}
@mixin scroll($color) {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: $spacing;
    border-radius: $spacing;
    background-color: $light-bg;
    &-thumb {
      background-color: $color;
      border-radius: $spacing * 10;
      box-shadow: inset 0 0 $spacing / 2 rgba(0, 0, 0, 0.5);
    }
    &-track {
      border-radius: $spacing;
      box-shadow: inset 0 0 $spacing / 2 rgba(0, 0, 0, 0.5);
      background-color: $light-bg;
    }
  }
}
