// Colors:
$primary-accent: hsl(193, 54%, 41%);
$light-bg: hsl(0, 0%, 98%);
$dark-bg: hsl(227, 36%, 17%);
$light-accent: hsl(208, 32%, 48%);
$dark-accent: hsl(203, 70%, 18%);
$bright-accent: hsl(202, 59%, 37%);

$very-good: hsl(143, 50%, 45%);
$good: hsl(79, 50%, 45%);
$warning: hsl(41, 50%, 45%);
$bad: hsl(4, 50%, 45%);
$very-bad: hsl(301, 50%, 35%);

$text: hsl(225, 33%, 7%);

// Sizes:
$l-size: 1.75rem;
$m-size: 1.5rem;
$s-size: 1rem;
$xs-size: 0.75rem;
$spacing: 0.625rem;
$base-font-size: 1rem;
$base-line-height: 1.2;
$border: 0.0625em;
$header-height: 5rem;

// Breakpoints:
$breakpoint-s: 48rem; // 768px
$breakpoint-m: 64rem; // 1024px
$breakpoint-l: 85.375rem; // 1366px
$breakpoint-xl: 120rem; // 1920px
$breakpoint-xxl: 160rem; // 2560px
$breakpoint-xxxl: 200rem; // 32000px

// Media queries:
$media-query-s: '(min-width: #{$breakpoint-s})';
$media-query-m: '(min-width: #{$breakpoint-m})';
$media-query-l: '(min-width: #{$breakpoint-l})';
$media-query-xl: '(min-width: #{$breakpoint-xl})';
$media-query-xxl: '(min-width: #{$breakpoint-xxl})';
$media-query-xxxl: '(min-width: #{$breakpoint-xxxl})';
$media-query-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
