// Colors:
$primary-accent: hsl(193, 54%, 41%);
$light-bg: hsl(0, 0%, 98%);
$dark-bg: hsl(227, 36%, 17%);
$light-accent: hsl(208, 32%, 48%);
$dark-accent: hsl(203, 70%, 18%);
$bright-accent: hsl(202, 59%, 37%);

$very-good: #39ac65;
$good: #88ac39;
$warning: #ac8839;
$bad: #ac4139;
$very-bad: #862d84;

$text: hsl(225, 33%, 7%);

// Sizes:
$l-size: 1.75rem;
$m-size: 1.5rem;
$s-size: 1rem;
$xs-size: 0.75rem;
$spacing: 0.625rem;
$base-font-size: 1rem;
$base-line-height: 1.2;
$border: 0.0625em;
$header-height: 5rem;

// Breakpoints:
$breakpoint-s: 768px;
$breakpoint-m: 1024px;
$breakpoint-l: 1366px;
$breakpoint-xl: 1920px;
$breakpoint-xxl: 2560px;
$breakpoint-xxxl: 3200px;

// Media queries:
$media-query-s: '(min-width: #{$breakpoint-s})';
$media-query-m: '(min-width: #{$breakpoint-m})';
$media-query-l: '(min-width: #{$breakpoint-l})';
$media-query-xl: '(min-width: #{$breakpoint-xl})';
$media-query-xxl: '(min-width: #{$breakpoint-xxl})';
$media-query-xxxl: '(min-width: #{$breakpoint-xxxl})';
$media-query-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
