@import './settings';

.content {
  width: 100%;
  align-self: center;
  flex: 1;
  max-width: 54rem;
  min-height: calc(100vh - #{$header-height});
  padding: 0 $spacing;
  & > h2 {
    color: $light-accent;
  }
}

.card {
  background: $light-bg;
  border-radius: $spacing;
  color: $dark-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: $spacing;
  padding: $spacing * 2;
  p {
    font-size: $s-size;
  }
  &:last-child {
    margin-bottom: $spacing;
  }
}
