@import '../../styles/settings';
@import '../../styles/mixin';

.button {
  padding: $spacing / 2;
  background-color: $primary-accent;
  width: fit-content;
  color: $light-bg;
  display: flex;
  align-items: center;
}
