@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.admin__section__edit-btn {
  padding: $spacing / 2;
  background-color: $primary-accent;
  width: fit-content;
  color: $light-bg;
  display: flex;
  align-items: center;
}
