@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.admin__sidebar__link {
  padding: $spacing;
  background-color: $dark-bg;
  color: $light-bg;
  display: flex;
  font-size: $m-size;
  justify-content: center;
  align-items: center;
  @include button($light-bg);
}
@media #{$media-query-s} {
  .admin__sidebar__link {
    margin-bottom: $spacing;
  }
}
