@import '../../styles/settings';
@import '../../styles/mixin';

.link {
  padding: $spacing;
  background-color: $dark-bg;
  color: $light-bg;
  display: flex;
  font-size: $m-size;
  justify-content: center;
  align-items: center;
  @include button($dark-bg);
  @media #{$media-query-s} {
    margin-bottom: $spacing;
  }
}
