@import '../../styles/settings';
@import '../../styles/mixin';

.section {
  composes: card from '../../styles/common.scss';
  padding: $spacing;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  &:last-child {
    margin: 0;
  }
}
.powiadomienia {
  background-color: $primary-accent;
  .list {
    &::-webkit-scrollbar {
      &-thumb {
        background-color: $light-accent;
      }
    }
  }
  .link {
    @include button($primary-accent);
  }
}
.uzytkownicy {
  background-color: $dark-accent;
  .list {
    &::-webkit-scrollbar {
      &-thumb {
        background-color: $light-accent;
      }
    }
  }
  .link {
    @include button($dark-accent);
  }
}
.artykuly {
  background-color: $light-accent;
  .list {
    &::-webkit-scrollbar {
      &-thumb {
        background-color: $primary-accent;
      }
    }
  }
  .link {
    @include button($light-accent);
  }
}
.mierniki {
  background-color: $bright-accent;
  .list {
    &::-webkit-scrollbar {
      &-thumb {
        background-color: $light-accent;
      }
    }
  }
  .link {
    @include button($bright-accent);
  }
}
.header {
  margin: 0;
  color: $light-bg;
}
.link {
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding: $spacing / 2;
  margin-top: $spacing;
  align-self: flex-end;
  color: $light-bg;
}
@media #{$media-query-s} {
  .uzytkownicy {
    grid-column: 2 span;
  }
  .mierniki {
    grid-column: 2 span;
    grid-row: 2;
  }
  .artykuly {
    grid-row: 2;
  }
}
