@import '../../styles/settings';

.sidebar {
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: $spacing;
  position: fixed;
  bottom: 0;
  z-index: 3;
  background-color: $light-bg;
  @media #{$media-query-s} {
    position: static;
    flex-direction: column;
    height: 100%;
    width: $header-height;
  }
}
