@import '../../styles/base/settings';

.admin__sidebar {
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: $spacing;
  position: fixed;
  bottom: 0;
  z-index: 3;
  background-color: $light-bg;
}
@media #{$media-query-s} {
  .admin__sidebar {
    flex-direction: column;
    height: calc(100% - #{$header-height});
    width: $header-height;
  }
}
