@import '../../styles/settings';
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: $spacing;
  width: 100%;
  padding-right: $spacing * 2;
  height: 100%;
  overflow-y: scroll;
  flex-wrap: wrap;
  margin-bottom: $header-height;
  @media #{$media-query-s} {
    margin-bottom: 0;
    // margin-left: $spacing + $header-height;
  }

  @media screen and (max-width: 369px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.card {
  composes: card from '../../styles/common.scss';
  width: 100%;
  margin: $spacing;
  padding: $spacing;
  align-items: center;

  p {
    margin: $spacing 0;
  }
}
