@import '../../styles/settings';
@import '../../styles/mixin';

.wrapper {
  width: 100%;
  height: calc(100% - #{$spacing * 5}); // search height + margin
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: $spacing;
  height: 100%;
  width: 100%;
  padding-right: $spacing * 2;
  flex-wrap: wrap;
  margin-bottom: $header-height;
  @media #{$media-query-s} {
    @include scroll($primary-accent);
    margin-bottom: 0;
  }
  @media screen and (max-width: 369px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.search {
  margin: 0 $spacing $spacing;
  width: calc(100% - #{$spacing * 2});
  max-width: 20rem;
}
