@import '../../styles/base/settings';
.campaign__h2 {
  padding-left: $spacing;
  color: $light-accent;
}
.campaign__search {
  background: transparent;
  border: $border solid $light-bg;
  border-radius: $spacing;
  font-size: $s-size;
  padding: $spacing;
  margin: $spacing;
  color: $light-bg;
}
.campaign__tag__btn {
  background: none;
  border-radius: $spacing * 2;
  border: $border solid $light-bg;
  color: $light-bg;
  padding: $spacing;
  margin: $spacing / 2;
}
