@import '../../styles/base/settings';

.content {
  composes: content from '../../styles/base/common.scss';
}

.text {
  text-align: center;
  margin-top: $spacing * 2;
  justify-content: center;
}
.link {
  text-decoration: underline;
  color: $light-bg;
  font-size: $xs-size;
}
