@import '../../styles/settings';

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin: $spacing / 2 0;
  padding: 0;
  text-transform: none;
}

.description {
  margin: 0;
  padding: $spacing * 2 0;
}
