@import '../../styles/settings';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.even {
  margin-right: $spacing * 2.5;
}

.odd {
  margin-left: $spacing * 2.5;
}

.header {
  font-size: $l-size;
  margin: 0 0 $spacing / 2 0;
  padding: 0;
  text-transform: none;
}

.text {
  margin: 0 !important;
  text-indent: 0 !important;
}
.link {
  text-decoration: underline;
}
