@import '../../styles/base/settings';

.card {
  composes: card from '../../styles/base/common.scss';
}

.caqi {
  background: $primary-accent;
  color: $light-bg;
}

.pm2\.5 {
  background: $dark-accent;
  color: $light-bg;
}

.pm10 {
  background: $light-accent;
  color: $light-bg;
}
