@import '../../styles/base/settings';

.landing-page__svg {
  padding: $spacing;
  width: 15rem;
}

.landing-page__svg__link {
  border: none !important;
  outline: none;
  &:hover,
  &:focus {
    .landing-page__svg__sensor__text {
      opacity: 1;
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
    .landing-page__svg__map__marker {
      -webkit-animation: jump 0.22s 2 linear;
      animation: jump 0.22s 2 linear;
    }
    .hand,
    .hand2,
    #balloon {
      -webkit-animation: move 0.22s 2 linear;
      animation: move 0.22s 2 linear;
    }
    .landing-page__svg__encyclopedia__head {
      -webkit-animation: rotate 0.6s linear;
      animation: rotate 0.6s linear;
    }
  }
}
@-webkit-keyframes jump {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-$spacing);
    transform: translateY(-$spacing);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes jump {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-$spacing);
    transform: translateY(-$spacing);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes move {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(22deg);
    transform: rotateX(22deg);
  }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}
@keyframes move {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(22deg);
    transform: rotateX(22deg);
  }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  75% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  75% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
