@import '../../styles/base/settings';

.svg {
  padding: $spacing;
  width: 15rem;
}

.link {
  border: none !important;
  outline: none;
  &:hover,
  &:focus {
    .landing-page__svg__sensor__text {
      opacity: 1;

      transform: scale(1.02);
    }
    .landing-page__svg__map__marker {
      animation: jump 0.22s 2 linear;
    }
    .hand,
    .hand2,
    #balloon {
      animation: move 0.22s 2 linear;
    }
    .landing-page__svg__encyclopedia__head {
      animation: rotate 0.6s linear;
    }
  }
}

@keyframes jump {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-$spacing);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes move {
  from {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(22deg);
  }
  to {
    transform: rotateX(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  30% {
    transform: rotate(12deg);
  }
  75% {
    transform: rotate(-12deg);
  }
  to {
    transform: rotate(0);
  }
}
