@import '../../styles/base/settings';

.landing-page__svg {
  padding: $spacing;
  width: 15rem;
}

.landing-page__svg__link {
  border: none !important;
  &:hover {
    .landing-page__svg__sensor__text {
      opacity: 1;
      transform: scale(1.02);
    }
  }
}
