@import '../../styles/settings';
@import '../../styles/mixin';

.card {
  width: 100%;
  padding: $spacing * 2.5;
  * {
    color: $light-bg;
  }
  composes: card from '../../styles/common.scss';
}

.darkAccent {
  background: $dark-accent;
}

.lightAccent {
  background: $light-accent;
}

.primaryAccent {
  background: $primary-accent;
}

.brightAccent {
  background-color: $bright-accent;
}

.lightBg {
  background-color: $light-bg;
  * {
    color: $text;
  }
}

@media #{$media-query-m} {
  .card {
    flex-direction: row;
    justify-content: space-between;
  }
  .odd {
    flex-direction: row-reverse;
  }
}
