@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.card {
  width: 100%;
  * {
    color: $light-bg;
  }
  composes: card from '../../styles/base/common.scss';
}

.sensors {
  background: $dark-accent;
}

.encyclopedia {
  background: $light-accent;
}

.map {
  background: $primary-accent;
}

.contact {
  background-color: $bright-accent;
}

.project {
  background-color: $light-bg;
  * {
    color: $text;
  }
}

@media #{$media-query-m} {
  .card {
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    &:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      flex-direction: row-reverse;
    }
    &:nth-child(odd) {
      .btn {
        align-self: flex-start;
      }
    }
  }
}
.sensors {
  .button {
    @include button($dark-accent);
  }
}

.encyclopedia {
  .button {
    @include button($light-accent);
  }
}

.contact {
  .button {
    @include button(#276f98);
  }
}

.project {
  .button {
    @include button($light-bg);
  }
}
