@import '../../styles/base/settings';
.contact__h3 {
  padding-left: $spacing * 2;
  color: $light-accent;
}
.contact__list {
  list-style: none;
}
.contact__list__item__link {
  -webkit-box-align: center;
  align-items: center;
  color: $light-bg;
  display: -webkit-box;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: $spacing;
}
.contact__list__item__link__text {
  display: inline-block;
  padding-left: $spacing;
  font-size: $s-size;
}
