@import '../../styles/settings';
@import '../../styles/mixin';

.button {
  align-self: flex-end;
  padding: $spacing;
  transition: transform 0.2s;
  outline: none;
  &:hover,
  &:focus {
    transform: scale(1.03);
  }
  &:active {
    transform: scale(0.98);
  }
}

.mierniki {
  @include button($dark-accent);
}

.mapa {
  @include button($primary-accent);
}

.encyklopedia {
  @include button($light-accent);
}

.kontakt {
  @include button($bright-accent);
}

.o-nas {
  @include button($light-bg);
}

@media #{$media-query-s} {
  .even {
    align-self: flex-start;
  }
  .button {
    margin-top: $spacing;
  }
}
