@import '../styles/base/settings';
.article__header__text {
  padding: $spacing * 5 0;
  text-align: center;
  color: $light-bg;
  border-radius: $spacing;
  margin: 0;
  z-index: 1;
  font-size: $l-size * 0.8;
  text-align: center;
}
.article__header__img {
  width: 100%;
  height: 100%;
  border-radius: $spacing;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.article__header {
  padding: 0;
  position: relative;
  margin: 0;
  &::after {
    content: '';
    border-radius: $spacing;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(28, 35, 60, 0.5);
  }
}
.article__card {
  z-index: -2;
  position: relative;
  padding: $spacing;
  * {
    margin-bottom: 0;
  }
  p {
    margin-top: $spacing;
  }
}
.article__paragraph {
  text-indent: $spacing;
}
