@import '../styles/base/settings';
@import '../styles/base/mixin';

.not-found__content {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.not-found__svg {
  max-width: 50rem;
}

.not-found__text {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: none;
}

.not-found__link {
  background: $light-bg;
  border-radius: $spacing;
  font-size: 1.5rem;
  padding: $spacing;
  @include button($dark-bg);
}
