@import '../../styles/base/settings';
.sensors__content {
  align-self: center;
}
.sensors__info {
  background: $light-accent;
  color: $light-bg;
}
.sensors__ad {
  background: $dark-accent;
  color: $light-bg;
}
.sensors__ad__link {
  text-decoration: underline;
  color: $light-bg;
}
.sensors__h2 {
  margin: 0;
}

.sensors__paragraph {
  margin-bottom: 0;
}
