@import '../../styles/base/settings';

.header__pwa__btn {
  background: $dark-accent;
  border-radius: $spacing;
  border: none;
  color: $light-bg;
  font-size: $s-size * 0.685;
  padding: $spacing;
}
