@import '../../styles/base/settings';
.article-container {
  margin: $spacing 0;
  background: $light-bg;
  border-radius: $spacing;
  color: $text;
  display: grid;
  grid-gap: $spacing / 2;
  grid-template-columns: 8.5rem auto;
  grid-template-rows: auto auto auto auto;
  -webkit-box-align: start;
  align-items: start;
  justify-items: start;
}
.article-container__header {
  margin: 0;
  padding-top: $spacing / 2;
  align-self: center;
}
.article-container__thumbnail {
  border-radius: $spacing;
  padding: $spacing / 3;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
}

.article-container__description {
  margin: 0;
  font-size: $xs-size;
}

.article-container__link {
  justify-self: center;
  align-self: center;
  border: $border solid $dark-accent;
  border-radius: $spacing * 3;
  padding: $spacing / 3;
  padding-left: $spacing;
  padding-right: $spacing;
  margin-bottom: $spacing / 2;
}
.article-container__tags {
  margin: 0;
}
.article-container__tag {
  font-size: $spacing;
  color: #999;
  background: none;
  border: none;
  padding: 0;
  margin-right: $spacing / 2;
}
