@import '../../styles/base/settings';

.article-container {
  -webkit-box-align: start;
  align-items: start;
  background: $light-bg;
  border-radius: $spacing;
  color: $text;
  display: grid;
  grid-template-columns: 8.5rem auto;
  justify-items: start;
  margin: $spacing 0;
}

.article-container__header {
  align-self: center;
  font-size: $s-size * 0.9;
  margin: 0;
  padding: $spacing $spacing / 2;
}

.article-container__description {
  font-size: $xs-size;
  margin: 0;
  padding: $spacing * 2 $spacing / 2;
  min-height: 6rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.article-container__link {
  align-self: center;
  margin-bottom: $spacing / 3;
  border-radius: $spacing * 3;
  border: $border solid $dark-accent;
  justify-self: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  padding: $spacing / 3 $spacing;
  &:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  &:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}
