@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.article-thumbnail {
  -webkit-box-align: start;
  align-items: start;
  background-color: $light-bg;
  border-radius: $spacing;
  color: $text;
  display: grid;
  padding: 0;
  margin: $spacing 0;
}

.article-thumbnail__header {
  margin: 0;
  padding: $spacing;
}

.article-thumbnail__description {
  margin: 0;
  padding: $spacing;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.article-thumbnail__link {
  color: $text;
  margin-bottom: $spacing / 3;
  border-radius: $spacing;
  justify-self: center;
  padding: $spacing;
  white-space: nowrap;
  @include button($light-bg);
}
@media screen and (min-width: 432px) {
  .article-thumbnail {
    grid-template-columns: 8.5rem auto;
  }
  .article-thumbnail__description {
    min-height: 6rem;
  }
}
