@import '../../styles/base/settings';

.article-container {
  -webkit-box-align: start;
  align-items: start;
  background: $light-bg;
  border-radius: $spacing;
  color: $text;
  display: grid;
  grid-gap: $spacing / 2;
  grid-template-columns: 8.5rem auto;
  grid-template-rows: 3.5rem 1.2rem 6rem 2.4rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  justify-items: start;
  margin: $spacing 0;
}
.article-container__header {
  align-self: center;
  font-size: $s-size * 0.9;
  margin: 0;
}

.article-container__description {
  font-size: $xs-size;
  margin: 0;
}

.article-container__link {
  align-self: center;
  border-radius: $spacing * 3;
  border: $border solid $dark-accent;
  justify-self: center;
  padding: $spacing / 3 $spacing;
}
