@import '../../styles/base/settings';

.article-container__tags {
  margin: 0;
}

.article-container__tag {
  background: none;
  border: none;
  color: #999;
  font-size: $spacing;
  margin-right: $spacing / 2;
  padding: 0;
}
