@import '../../styles/base/settings';

.article-container__thumbnail__link {
  grid-row: 1 / span 4;
  height: 100%;
  padding: $spacing / 3;
  width: 100%;
}

.article-container__thumbnail__image {
  border-radius: $spacing;
  height: 100%;
  width: 100%;
}
