@import '../../styles/base/settings';

.contact__copied__info {
  -webkit-transition: opacity 0.2s ease-out;
  align-self: center;
  background: lighten($dark-bg, 5%);
  border-radius: $spacing;
  bottom: 10%;
  color: $light-bg;
  opacity: 0;
  z-index: 10;
  padding: $spacing;
  position: fixed;
  transition: opacity 0.2s ease-out;
  &--isActive {
    opacity: 1;
  }
}
