@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.contact__list__item__link {
  -webkit-box-align: center;
  align-items: center;
  border-radius: $spacing;
  color: $light-bg;
  display: -webkit-box;
  display: flex;
  margin-bottom: $spacing;
  padding: $spacing;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  @include button($dark-bg);
}

.contact__list__item__link__facebook {
  background: $dark-accent;
}

.contact__list__item__link__instagram {
  background: $light-accent;
}

.contact__list__item__link__mail {
  background: $text;
  margin: 0;
}

.contact__list__item__link__text {
  display: inline-block;
  font-size: $s-size;
  padding-left: $spacing;
}
