@import '../../styles/base/settings';

.contact__list {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: $spacing * 4 0;
  padding: 0;
}
