@import '../../styles/base/settings';
.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: $header-height;
  background: $dark-bg;
  color: $text;
  width: 100%;
}
.header__wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
