@import '../../styles/settings';

.navigation {
  align-items: center;
  display: flex;
}

.button {
  background-color: $dark-accent;
  color: $light-bg;
  padding: $spacing;
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    margin-left: $spacing;
  }
}
