@import '../../styles/base/settings';

.encyclopedia__caqi {
  background: $primary-accent;
  color: $light-bg;
}
.encyclopedia__pm10 {
  background: $light-accent;
  color: $light-bg;
}
.encyclopedia__pm25 {
  background: $dark-accent;
  color: $light-bg;
}
