@import '../../styles/base/settings';
footer {
  margin: 0;
  color: $text;
  background: $light-bg;
  padding: $spacing;
}
.footer__patrons__item {
  width: $header-height;
  height: $header-height;
}
.footer__patrons__item__image {
  width: 100%;
  height: 100%;
}
i.fab {
  width: 4rem;
  height: 4rem;
}
.footer__icons,
.footer__links {
  margin: $spacing 0;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
}
.footer__icons {
  justify-content: space-around;
}
.footer__h3 {
  text-align: center;
}
.footer__partners,
.footer__patrons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  padding: $spacing;
}
.footer__pwa__btn {
  background: none;
  border: none;
  color: $dark-bg;
  padding: 0;
}
.footer__links__item {
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  &--hidden {
    display: none;
  }
}
