@import '../../styles/settings';

.icon {
  outline: none !important;
  :global(.fa-facebook-square),
  :global(.fa-instagram) {
    path {
      transition: fill 0.2s ease-out;
    }
  }
  &:hover,
  &:focus {
    :global(.fa-facebook-square) {
      path {
        fill: #2e77f2;
      }
    }
    :global(.fa-instagram) {
      path {
        fill: #dd2a7b;
      }
    }
  }
}
