@import '../../styles/base/settings';

.svg-inline--fa {
  height: 4rem;
  width: 4rem;
  path {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: red;
      z-index: 12;
      top: 110;
      left: 1110;
    }
  }
}
.footer__icon {
  &:hover {
    .svg-inline--fa {
    }
  }
}
