@import '../../styles/base/settings';
@import '../../styles/base/mixin';

.links {
  display: flex;
  justify-content: space-between;
  margin: $spacing 0;
}

.item {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  width: 100%;
  &Hidden {
    display: none;
  }
}
.link {
  @include link-without-padding($dark-bg);
}
