@import '../../styles/base/settings';

.footer__h2 {
  text-align: center;
}
.footer__patrons {
  -webkit-box-pack: space-evenly;
  display: -webkit-box;
  display: flex;
  justify-content: space-evenly;
  padding: $spacing;
}
