@import '../../styles/base/settings';

.footer__patron {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 $spacing;
}

.footer__patrons__item__image {
  height: $header-height;
  width: $header-height;
}
.footer__patrons__item__image__TVP {
  width: auto;
}
