@import '../../styles/settings';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 54rem;
  margin: 0 auto;
}

.patron {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 $spacing;
  white-space: nowrap;
  flex: 1;
}

.break {
  width: 100%;
  height: 0;
}
