@import '../../styles/base/settings';

.footer__patron {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 $spacing;
  white-space: nowrap;
}
.footer__patrons__item {
  transition: opacity 0.3s;
  opacity: 0.6;
  outline: none !important;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.footer__patrons__item__image {
  height: $header-height;
  max-width: 100%;
}
@media screen and (min-width: 547px) {
  .footer__patron {
    justify-content: center;
    flex: 1;
  }
}
