@import '../../styles/base/settings';
.cookies-banner__wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background: darken($dark-bg, 2%);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  * {
    color: $light-bg;
  }
  &--hidden {
    display: none;
  }
}
.cookies-banner__link,
.cookies-banner__text {
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
}
.cookies-banner__link {
  text-decoration: underline;
  padding: $spacing / 2;
}
.cookies-banner__text {
  font-size: 0.7rem;
}
.cookies-banner__btn {
  background: none;
  border: none;
  padding: $spacing / 2;
  align-self: flex-end;
}
