@import '../../styles/base/settings';

.cookies-banner__wrapper {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  background: darken($dark-bg, 2%);
  bottom: 0;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 5;
  * {
    color: $light-bg;
  }
}
