@import '../../styles/base/settings';
.landing-page__hero {
  height: calc(100vh - #{$header-height});
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width: calc(100% + #{$spacing} * 2);
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: space-around;
  background: url('../../img/hero-image.jpg') no-repeat;
  background-size: cover;
}
.landing-page__hero__btn {
  margin-bottom: $spacing;
  font-weight: bold;
  background: $dark-accent;
  color: $light-bg;
  border-radius: $spacing;
  padding: $spacing;
  align-self: center;
  font-size: $m-size;
}

.landing-page__hero__text {
  text-transform: none;
  font-size: 2.3rem;
  margin: 0;
}
.landing-page__main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
@media #{$media-query-s} {
  .landing-page__hero__text {
    font-size: 4rem;
    max-width: 70rem;
  }
}
