@import '../../styles/base/settings';
.landing-page__header {
  text-transform: none;
  padding: 0;
  margin: $spacing / 2 0;
}
.landing-page__card {
  width: 100%;
}
.landing-page__description {
  margin: 0;
  padding: $spacing * 2 0;
}
.landing-page__btn {
  padding: $spacing;
  border: $border solid $light-bg;
  align-self: flex-end;
}
.landing-page__card {
  * {
    color: $light-bg;
  }
}
.landing-page__newsletter {
  background: $text;
}
.landing-page__sensors {
  background: $dark-accent;
}
.landing-page__encyclopedia {
  background: $light-accent;
}
.landing-page__map {
  background: $primary-accent;
}
.landing-page__project {
  * {
    color: $text;
  }
  a {
    border: $border solid $text;
  }
}
@media #{$media-query-s} {
  .landing-page__card {
    width: 40%;
  }
}
@media #{$media-query-m} {
  .landing-page__card {
    width: 30%;
  }
}
