@import '../../styles/base/settings';
.landing-page__hero {
  height: calc(100vh - #{$header-height});
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width: calc(100% + #{$spacing} * 2);
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: space-around;
  &::after {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(28, 35, 60, 0.8);
  }
}
.landing-page__hero__image {
  position: absolute;

  top: $header-height;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: calc(100vh - #{$header-height});
}
.landing-page__hero__btn {
  margin-bottom: $spacing;
  font-weight: bold;
  background: $dark-accent;
  color: $light-bg;
  border-radius: $spacing;
  padding: $spacing;
  align-self: center;
  font-size: $m-size;
}

.landing-page__hero__text {
  text-transform: none;
  font-size: 2.3rem;
  margin: 0;
  padding-left: $spacing;
}
.landing-page__main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
@media #{$media-query-s} {
  .landing-page__hero__text {
    font-size: 3rem;
    max-width: 70rem;
  }
}
