@import '../../styles/base/settings';
.air {
  margin: $spacing;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.air__btn {
  margin-bottom: $spacing;
  font-weight: normal;
  background: none;
  color: $light-bg;
  border-radius: $spacing;
  padding: $spacing;
  border: $border solid $light-bg;
  align-self: flex-end;
}

.air__motto {
  text-transform: none;
  padding: 0;
}
.air__h2 {
  line-height: 1.4;
}
.landing-page__main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.landing-page__hero {
  height: calc(100vh - #{$header-height});
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
