@import '../../styles/base/settings';
.landing-page__header {
  text-transform: none;
  padding: 0;
  margin: $spacing / 2 0;
}
.landing-page__card {
  width: 100%;
  * {
    color: $light-bg;
  }
}
.landing-page__card__content {
  display: flex;
  flex-direction: column;
}
.landing-page__description {
  margin: 0;
  padding: $spacing * 2 0;
}
.landing-page__btn {
  padding: $spacing;
  border: $border solid $light-bg;
  align-self: flex-end;
}
.landing-page__sensors {
  background: $dark-accent;
}
.landing-page__encyclopedia {
  background: $light-accent;
}
.landing-page__map {
  background: $primary-accent;
}
.landing-page__project {
  * {
    color: $text;
  }
  a {
    border: $border solid $text;
  }
}
@media #{$media-query-m} {
  .landing-page__card {
    flex-direction: row;
    justify-content: space-between;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    &:nth-child(odd) {
      .landing-page__btn {
        align-self: flex-start;
      }
    }
  }
  .landing-page__svg {
    min-width: 15rem;
  }
  .landing-page__svg__link {
    border: none !important;
  }
}
