@import '../../styles/settings';

.caqi {
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: $spacing;
  padding: $spacing;
  color: $light-bg;
}

.wrapper {
  padding: 0 $spacing * 2 0 $spacing;
}

.measurement,
.title {
  margin: $spacing / 2 0;
  text-align: center;
}

.measurement {
  font-size: $l-size;
}

.title {
  font-size: $m-size;
}

.status {
  font-size: $s-size;
  margin: 0;
}
