@import '../../styles/base/settings';

.map__data__caqi {
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: $spacing;
  padding: $spacing;
  h3 {font-size: $s-size;}
  h2 {font-size: $m-size;}
  h2, h3 { 
    margin: $spacing/2 0; 
    text-align: center;
  }
}
.map__data__status {
  font-size: $s-size;
  width: 75%;
  margin: 0;
}