@import '../../styles/settings';
@import '../../styles/mixin';

@media #{$media-query-m} {
  .data {
    width: 100%;
    grid-column: 2;
    height: calc(100vh - #{$header-height});
    padding-left: $spacing;
    @include scroll($primary-accent);
  }
}
