@import '../../styles/settings';
@import '../../styles/mixin';

@media #{$media-query-l} {
  .data {
    width: 100%;
    grid-column: 2;
    height: calc(100vh - #{$header-height} - #{$spacing});
    padding-left: $spacing;
    @include scroll($primary-accent);
  }
  .error {
    width: 100%;
    grid-column: 2;
    height: calc(100vh - #{$header-height} - #{$spacing});
    padding-left: $spacing;
  }
}
