@import '../../styles/settings';
.marker {
  border-radius: 100%;
  border: none;
  height: $spacing;
  width: $spacing;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  &:active {
    transform: scale(0.9) translate(-50%, -50%);
  }
}
