@import '../../styles/settings';

.wrapper {
  border-radius: $spacing;
  background-color: $light-accent;
  padding: $spacing;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-align: center;
  color: $light-bg;
  &:hover {
    .tooltip {
      visibility: visible;
    }
  }
}
.tooltip {
  background-color: $dark-bg;
  border-radius: $spacing;
  font-size: $xs-size;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: $spacing / 2;
  visibility: hidden;
  left: 50%;
  transform: translate(-50%, -100%);
  &:hover {
    visibility: visible;
  }
}
.measurement,
.title {
  margin: $spacing / 2 0;
}

.measurement {
  font-size: $m-size;
}

.title {
  font-size: $s-size;
}

.percent {
  color: $dark-bg;
}

.main {
  background-color: $primary-accent;
}
.secondary {
  .measurement {
    font-size: $s-size;
  }
  .percent {
    font-size: $s-size;
  }
}
