@import '../../styles/settings';

.wrapper {
  border-radius: $spacing;
  background-color: $light-accent;
  padding: $spacing;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: $light-bg;
}
.measurement,
.title {
  margin: $spacing / 2 0;
}

.measurement {
  font-size: $m-size;
}

.title {
  font-size: $s-size;
}

.percent {
  color: $dark-bg;
}

.main {
  background-color: $primary-accent;
}
.secondary {
  .measurement {
    font-size: $s-size;
  }
  .percent {
    font-size: $s-size;
  }
}
