@import '../../styles/settings';

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $dark-accent;
  margin: 0 0 $spacing;
  padding: $spacing;
  text-transform: none;
  border-radius: 0 0 $spacing $spacing;
  @media #{$media-query-l} {
    border-radius: $spacing;
  }
}
