@import '../../styles/base/settings';

.map__city {
  text-align: center;
  background-color: $dark-accent;
  margin: 0 0 $spacing;
  padding: $spacing;
  text-transform: none;
  border-radius: 0 0 $spacing $spacing;
}
.map__pm {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing;
}
@media #{$media-query-m} {
  .map__city {
    border-radius: $spacing;
  }
}
