@import '../../styles/settings';

.wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  max-width: calc(100% - 70px);
}

.input {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba($dark-bg, 0.5);
  border-radius: $spacing;
  border: $border solid $light-bg;
  padding: $spacing;
  padding-right: 1.5 + $spacing;
  z-index: 1;
  color: $light-bg;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: $dark-bg;
  }
}

.icon {
  position: absolute;
  top: 50%;
  z-index: 1;
  left: calc(100% - #{$spacing});
  transform: translate(-100%, -50%);
}

.list {
  list-style: none;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 10px;
  margin: 0;
  padding: 0;
  background-color: rgba($light-bg, 0.85);
  max-width: calc(100% - 20px);
  max-height: calc(100% - 50px);
  overflow-y: scroll;
  @media #{$media-query-l} {
    overflow: auto;
  }
}

.item {
  text-align: left;
  background: none;
  border: none;
  padding: $spacing / 1.5;
  color: $dark-bg;
  color: $dark-bg;
}
