@import '../../styles/settings';

.weather {
  composes: card from '../../styles/common.scss';
  background-color: $dark-accent;
  color: $light-bg;
}

.data {
  display: flex;
  font-size: $m-size;
  justify-content: space-around;
  padding: $spacing / 2;
}
