@import '../../styles/base/settings';
.slider-slide {
  display: flex !important;
  justify-content: center;
}
.wrapper {
  height: calc(100vh - 5rem);
}
.slider-frame {
  position: absolute;
  display: flex !important;
  align-items: center;
}

.slider__btn {
  color: $light-bg;
  width: 3rem;
  height: 3rem;
  background: none;
  border-radius: $spacing;
  border: $spacing / 5 solid $light-bg;
}
@media #{$media-query-m} {
  .slider {
    display: flex !important;
    justify-content: center;
  }
  .slider-frame {
    width: 90%;
  }
}
