@import '../../styles/base/settings';
.slider-slide {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-pack: center;
  justify-content: center;
  height: calc(100% - 5rem) !important;
}
.slider-list {
  display: -webkit-box;
  display: flex;
  height: calc(100vh - 5rem) !important;
}
.slider__btn {
  color: $light-bg;
  width: 3em;
  height: 3em;
  background: none;
  border-radius: $spacing;
  border: $spacing / 5 solid $light-bg;
}
.slider {
  * {
    font-size: $base-font-size * 0.9;
  }
}
@media #{$media-query-m} {
  .slider {
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .slider-frame {
    width: 90%;
  }
  .slider-slide {
    height: 100% !important;
  }
}
@media screen and (max-width: 1600px) and (min-aspect-ratio: 16 / 9),
  (min-aspect-ratio: 21 / 9) and (max-width: 4000px) {
  .slider {
    * {
      font-size: $base-font-size * 0.7;
    }
  }
}
@media screen and (max-height: 34rem) {
  .slider {
    * {
      font-size: $base-font-size * 0.75;
    }
  }
}
