@import '../../styles/settings';

.content {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(369px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: $spacing;
  align-items: start;
  margin-bottom: calc(#{$header-height} + #{$spacing});
  padding: $spacing;
  @media #{$media-query-s} {
    margin-bottom: 0;
    padding: 0 $spacing;
  }
  @media screen and (max-width: 369px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
