@import '../../styles/base/settings';

.admin__content {
  max-width: none;
  width: 100%;
  padding-left: 0;
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: $header-height 3fr 2fr;
  grid-template-rows: 5fr 1fr 5fr;
  height: calc(100vh - #{$header-height});
  * {
    color: $light-bg;
  }
}
