* {
  box-sizing: border-box;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  color: $light-bg;
  background: $dark-bg;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $dark-bg;
  font-size: $s-size;
  border-radius: $spacing;
}
a:focus {
  outline: 2px solid $dark-bg;
  -moz-outline-radius: $spacing;
}
button:hover {
  cursor: pointer;
}
main {
  padding: 0 $spacing;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: $l-size;
  padding-left: 20px;
  text-transform: uppercase;
}
h2 {
  font-size: $m-size;
}
h3 {
  font-size: $s-size;
}
h4 {
  font-size: $xs-size;
}
p {
  font-size: $xs-size;
}
.card {
  border-radius: $spacing;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $dark-bg;
  background: $light-bg;
  p {
    font-size: $s-size;
  }
}
.content {
  flex: 1;
  min-height: calc(100vh - 72px);
}
.wrapper__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
