* {
  box-sizing: border-box;
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.focus-visible {
  outline: auto;
}
html {
  font-family: 'Lato', sans-serif;
  color: $light-bg;
  background: $dark-bg;
  overflow-x: hidden;
  line-height: $base-line-height;
  @media #{$media-query-m} {
    font-size: $base-font-size * 1.2;
    line-height: $base-line-height * 1.2;
  }

  @media #{$media-query-l} {
    font-size: $base-font-size * 1.3;
  }

  @media #{$media-query-xl} {
    font-size: $base-font-size * 1.5;
  }

  @media #{$media-query-xxl} {
    font-size: $base-font-size * 2.3;
  }
  @media #{$media-query-xxxl} {
    font-size: $base-font-size * 2.8;
  }
}
a {
  text-decoration: none;
  color: $dark-bg;
  font-size: $s-size;
  border-radius: $spacing;
}

button:hover {
  cursor: pointer;
}
main {
  padding: 0 $spacing;
}
.container {
  min-height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
h1 {
  font-size: $l-size;
  padding-left: $spacing;
  text-transform: uppercase;
}
h2 {
  font-size: $m-size;
}
h3 {
  font-size: $s-size;
}
h4 {
  font-size: $xs-size;
}
p {
  font-size: $xs-size;
}
.card {
  border-radius: $spacing;
  padding: $spacing * 2;
  margin: $spacing 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  color: $dark-bg;
  background: $light-bg;
  p {
    font-size: $s-size;
  }
}
.content {
  -webkit-box-flex: 1;
  flex: 1;
  min-height: calc(100vh - #{$header-height});
}
.wrapper__cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
@media #{$media-query-m} {
  .card {
    margin: $spacing;
  }
}
