@mixin button($color) {
  box-shadow: 0 1rem 1.5rem -0.33rem darken($color, 30%);
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.03);
  }
  &:active {
    box-shadow: 0px 0.25rem 0.5rem darken($color, 10%);
    transform: scale(0.98);
  }
}

@mixin link($color) {
  position: relative;
  &::before {
    transform: translateX(-50%);
    content: '';
    width: 10%;
    height: $spacing / 4;
    position: absolute;
    left: 50%;
    bottom: $spacing;
    opacity: 0;
    background: $color;
    transition: transform 0.2s ease-out;
  }
  &:hover {
    &::before {
      opacity: 1;
      transform: scaleX(6) translateX(-7%) translateY(100%);
    }
  }
}
@mixin scroll($color) {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: $spacing;
    border-radius: $spacing;
    background-color: $light-bg;
    &-thumb {
      background-color: $color;
      border-radius: $spacing * 10;
      box-shadow: inset 0 0 $spacing / 2 rgba(0, 0, 0, 0.5);
    }
    &-track {
      border-radius: $spacing;
      box-shadow: inset 0 0 $spacing / 2 rgba(0, 0, 0, 0.5);
      background-color: $light-bg;
    }
  }
}
