// Colors:
$primary-accent: #3088a1;
$light-bg: #f9f9f9;
$dark-bg: #1c233c;
$light-accent: #547ea3;
$dark-accent: #0e364f;

$very-good: #44a368;
$good: #a9c46e;
$warning: #c19330;
$bad: #e1625a;

$text: #0c0f18;

// Sizes:
$l-size: 2.125rem;
$m-size: 1.5rem;
$s-size: 1rem;
$xs-size: 0.75rem;
$spacing: 0.625rem;
$base-font-size: 1rem;
$base-line-height: 1.2;
$border: 0.0625em;
$header-height: 5rem;

// Breakpoints:
$breakpoint-s: 48rem; // 768px
$breakpoint-m: 64rem; // 1024px
$breakpoint-l: 85.375rem; // 1366px
$breakpoint-xl: 120rem; // 1920px
$breakpoint-xxl: 160rem; // 2560px
$breakpoint-xxxl: 200rem; // 2560px

// Media queries:
$media-query-s: '(min-width: #{$breakpoint-s})';
$media-query-m: '(min-width: #{$breakpoint-m})';
$media-query-l: '(min-width: #{$breakpoint-l})';
$media-query-xl: '(min-width: #{$breakpoint-xl})';
$media-query-xxl: '(min-width: #{$breakpoint-xxl})';
$media-query-xxxl: '(min-width: #{$breakpoint-xxxl})';
$media-query-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
